// Font.
$font: (
  primary: ("Roboto",Helvetica,sans-serif),
  monospace: (Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace)
);

// Palette.
$palette: (
  primary:       hsl(0, 0%, 100%),
  secondary:     darken(#555e69, 15%),
  meta:          lighten(#555e69, 25%),
  border:        lighten(#555e69, 55%),
  bg:            lighten(#555e69, 60%),
  accent:        #fae900,
  accent-blue:   #115deb,
  accent-violet: #8718bb,
  accent-orange: #fa5231
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
//@import "imports/post-navigation";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
