@media print{
    *{
        background: inherit;
        color:inherit;
        background: #ffffff !important;
        color: #000000 !important;
    }
    footer,header{
        display: inherit;
        display: none;;
    }
}